alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias zgrep='zgrep --color=auto'
alias orphan='sudo pacman -Qdt'
alias gitkey='eval `ssh-agent -s` && ssh-add /home/gcool/.ssh/github'
alias gitupdate='sh /home/gcool/scripts/github.sh'
alias pgpload='sh /home/gcool/scripts/pgpload.sh'
alias gpgload='sh /home/gcool/scripts/pgpload.sh'
alias pacman='sudo pacman-color'
alias pacman-key='sudo pacman-key'
alias umount='sudo umount'
alias cacheclean='sudo cacheclean -v 3'
alias vacuum='sqlite3 /home/gcool/.mozilla/firefox/1wik457g.default/places.sqlite VACUUM'
alias cower='cower --color=auto'
alias tmuxatt='tmux attach'
alias tlist='tmux list-sessions'
alias gparted='sudo gparted'
alias killuser='pkill -KILL -u $1'
alias cl='clear'
alias mkdir='mkdir -p'
alias hddtemp="sudo hddtemp"

